html,body{
	min-height:100%;
}
body{
	position:relative;
	width:90%;
	margin:auto;
	border:0;
	background-color:#209091;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
*{
	color:beige;
}
.navbar{
	background-color:beige;
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:center;
}
.navbar a{
	color:darkolivegreen;
}
.navbar li{
	display:inline;
	font-size:1.35rem;
	padding:1.5%;
}
.navbar a:hover{
	color:#111;
}
a.noline{
	text-decoration:none;
}
a.logo{
	color:#b12070;
	font-family:monospace;
}
main{
	background-color:#30a0a1;
	width:96%;
	margin:0.5em 0 0.5em;
	padding:0.1em 2% 0.4em 2%;
}
footer{
	background-color:beige;
	padding:0;
	position:absolute;
	width:100%;
}
footer a,footer p{
	color:black;
}
footer,.navbar{
	border-radius:5px;
}
